---
import Layout from "../layouts/Layout.astro";
const tema = Astro.url.pathname.replace('/','');
---

<Layout title="Monumento">
    <section class="flex justify-center">
        <header class="max-w-6xl grid grid-cols-2">
            <figure class="w-full flex justify-center relative">
                <img
                    alt="imagen del castillo de chapultepec en la ciudad de méxico"
                    src="images/monumento/Chapultepec_Castle_Mexico_City.webp"
                    class="h-1/2 w-full object-scale-down transition duration-1000"
                    transition:name=`img-${tema}`
                />
            </figure>
            <h1 class="font-medium text-pretty text-2xl flex justify-center relative"
            transition:animate="slide"
            >
                <strong>Monumento</strong>
                Castillo Chapultepec
            </h1>
        </header>

        <section>
            <h2>Introducción</h2>
        </section>
    </section>
</Layout>