---
import Facts from "../components/Facts.astro";
import Layout from "../layouts/Layout.astro";
const tema = Astro.url.pathname.replace("/", "");
---

<Layout title="Museo">
  <section class="bg-zinc-800 bg-gradient-to-t from-zinc-800 to-[#2726263a] bg-opacity-20 w-full h-full space-y-5">
    <h1
      class="text-4xl text-center py-4 font-semibold text-[#e5e3dc]"
      transition:animate="slide"
    >
      <strong class="text-6xl font-medium block text-[#b0aa94]">Museo</strong>
      Museo de la Revolución Mexicana
    </h1>

    <nav>
      <article>
        <div class="grid grid-cols-3 justify-items-center">
          <Facts id="btnHistoria" section="Historia" icon="historic" />
          <Facts section="Significado" icon="peace" />
          <Facts section="Caracteristicas" icon="feature-highlight" />
        </div>
      </article>
    </nav>

    <article class="grid grid-cols-1 sm:grid-cols-2 justify-items-center p-10 space-y-4">
      <section class="space-y-2">
          <h2 id="subtitulo" class="text-2xl text-[#e5e3dc] font-semibold">Introducción:</h2>
          <div id="contenido" class="text-[#e5e3dc] text-pretty font-serif text-lg font-medium space-y-4 overflow-hidden">
            <!-- Breve Introducción -->
            <p>
              El Museo Nacional de la Revolución es un recinto museográfico
              ubicado en la Ciudad de México, en el que se exhiben objetos y
              documentos relacionados con la Revolución Mexicana. El edificio
              que alberga al museo fue construido en 1910 como Palacio
              Legislativo, y fue sede del Senado de la República hasta 1981. En
              1986 fue inaugurado como museo.
              

            </p>

            <p>
              El Museo Nacional de la Revolución es un recinto museográfico
              ubicado en la Ciudad de México, en el que se exhiben objetos y
              documentos relacionados con la Revolución Mexicana. El edificio
              que alberga al museo fue construido en 1910 como Palacio
              Legislativo, y fue sede del Senado de la República hasta 1981. En
              1986 fue inaugurado como museo.
              
            </p>
          </div>

          <div id="contenidoHistoria" class="text-[#e5e3dc] text-pretty font-serif text-lg font-medium space-y-4 hidden overflow-hidden">
            <p>
              El Museo Nacional de la Revolución es un recinto museográfico
              ubicado en la Ciudad de México, en el que se exhiben objetos y
              documentos relacionados con la Revolución Mexicana. El edificio
              que alberga al museo fue construido en 1910 como Palacio
              Legislativo, y fue sede del Senado de la República hasta 1981. En
              1986 fue inaugurado como museo.
            </p>

            <p >
              El Museo Nacional de la Revolución es un recinto museográfico
              ubicado en la Ciudad de México, en el que se exhiben objetos y
              documentos relacionados con la Revolución Mexicana. El edificio
              que alberga al museo fue construido en 1910 como Palacio
              Legislativo, y fue sede del Senado de la República hasta 1981. En
              1986 fue inaugurado como museo.
            </p>
        </div>
            
        </section>

      <figure class="max-h-[700px] w-3/4">
        <img
          alt="imagen de museo revolucion"
          src="images/museo/estatuas.jpg"
          class="h-full w-full object-cover transition duration-1000 rounded-2xl"
          transition:name=`img-${tema}`
        />
      </figure>

    </article>
  </section>
</Layout>
