---
import Layout from "../layouts/Layout.astro";
const tema = Astro.url.pathname.replace("/", "");
---

<Layout title="Museo">
  <section class="p-5">
    
    <h1 class="text-4xl text-center py-4 font-semibold text-gray-800" transition:animate="slide">
      <strong class="text-6xl font-medium block text-amber-600">Museo</strong>
      Museo de la Revolución Mexicana
    </h1>

    <article class="grid xl:grid-cols-2 gap-4 p-4 justify-items-center bg-zinc-800 bg-opacity-20">
        <header class="max-h-96 max-w-2xl">
            <section class="space-y-4" >
              <h2 class="text-2xl font-semibold">Introducción:</h2>
              <p class="text-gray-100">
                El Museo Nacional de la Revolución es un recinto museográfico ubicado
                en la Ciudad de México, en el que se exhiben objetos y documentos
                relacionados con la Revolución Mexicana. El edificio que alberga al
                museo fue construido en 1910 como Palacio Legislativo, y fue sede del
                Senado de la República hasta 1981. En 1986 fue inaugurado como museo.
              </p>
      
              <p class="text-gray-100">
                El edificio que alberga al museo fue construido en 1910 como Palacio
                Legislativo, y fue sede del Senado de la República hasta 1981. En 1986
                fue inaugurado como museo. El edificio fue diseñado por el arquitecto
                Emile Bénard, y su construcción fue dirigida por el ingeniero civil
                Gonzalo Garita y Frontera. La construcción del edificio comenzó en
                1910, y fue concluida en 1912. El edificio fue inaugurado el 1 de
                septiembre de 1912, con motivo del Centenario de la Independencia de
                México. El edificio fue sede del Senado de la República hasta 1981,
                cuando el Senado se trasladó a un nuevo edificio en la colonia
                Tabacalera. En 1986, el edificio fue inaugurado como Museo Nacional de
                la Revolución.
              </p>
            </section>
          </header>
      
          <figure class="h-[700px] w-full max-w-lg relative">
            <img
              alt="imagen de museo revolucion"
              src="images/museo/estatuas.jpg"
              class="h-1/2 w-full object-cover transition duration-1000 rounded-2xl"
              transition:name=`img-${tema}`
            />
          </figure>
    </article>
  </section>
</Layout>
