<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section
  class="relative m-10 bg-[url(images/museo/entrada.jpg)] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 flex justify-end lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right p-2">
      <h1 class="text-3xl font-extrabold sm:text-5xl text-white">
        Ven y concoce

        <strong class="block font-extrabold text-amber-700"> La experiencia cultural. </strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed text-amber-950 font-medium bg-[#D7C5AB] bg-opacity-70">
        Esta es la entrada al monumento Nacional a la revolución
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#"
          class="block w-full rounded bg-amber-900 px-12 py-3 text-sm font-medium text-white shadow hover:bg-amber-950 focus:outline-none focus:ring active:bg-amber-700 sm:w-auto"
        >
          Empecemos
        </a>

        <a
          href="#"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-amber-800 shadow hover:text-amber-900 focus:outline-none focus:ring active:text-amber-700 sm:w-auto"
        >
          Ver más
        </a>
      </div>
    </div>
  </div>
</section>