---
import { Icon } from "astro-icon/components";

const { id, section, icon } = Astro.props;
---

<section
  class="bg-[#95876B] hover:bg-[#b2aa92] rounded-full font-sans font-semibold w-24 h-24 sm:w-28 sm:h-28 md:w-36 md:h-36 relative flex justify-center"
>
  <button id={id} class="w-full">
    <Icon name={`mdi:${icon}`} class="w-10 h-10 m-auto right-0 left-0" />
    <h3 class="font-semibold text-[8px] sm:text-xs md:text-sm text-center">{section}</h3>
  </button>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    // Esto solo se ejecuta una vez.
    const $btnContenido1 = document.getElementById("btnContenido1");
    const $btnContenido2 = document.getElementById("btnContenido2");
    const $btnContenido3 = document.getElementById("btnContenido3");

    $btnContenido1?.addEventListener("click", () => {

      const $contenido0 = document.getElementById("contenido0");
      const $contenido1 = document.getElementById("contenido1");
      const $contenido2 = document.getElementById("contenido2");
      const $contenido3 = document.getElementById("contenido3");


      $contenido0?.classList.add("hidden");
      $contenido2?.classList.add("hidden");
      $contenido3?.classList.add("hidden");
      $contenido1?.classList.remove("hidden");
    });

    $btnContenido2?.addEventListener("click", () => {
      
      const $contenido0 = document.getElementById("contenido0");
      const $contenido1 = document.getElementById("contenido1");
      const $contenido2 = document.getElementById("contenido2");
      const $contenido3 = document.getElementById("contenido3");

      $contenido0?.classList.add("hidden");
      $contenido1?.classList.add("hidden");
      $contenido3?.classList.add("hidden");
      $contenido2?.classList.remove("hidden");
    });

    $btnContenido3?.addEventListener("click", () => {
      
      const $contenido0 = document.getElementById("contenido0");
      const $contenido1 = document.getElementById("contenido1");
      const $contenido2 = document.getElementById("contenido2");
      const $contenido3 = document.getElementById("contenido3");

      $contenido0?.classList.add("hidden");
      $contenido1?.classList.add("hidden");
      $contenido2?.classList.add("hidden");
      $contenido3?.classList.remove("hidden");
    });

    
  });
</script>
