---
const { titulo, parrafos } = Astro.props;
---
<div>
    <h2 id="tituloSeccion" class="text-2xl text-[#e5e3dc] font-semibold">
      {titulo}:
    </h2>

    <div class="space-y-5">
        {
            parrafos.map((parrafo: string, index: number) => (
              <p>{parrafo}</p>
            ))
          }
    </div>

  </div>