---
import Card from "./Card.astro";


---
<section class="grid grid-cols-1 md:grid-cols-3 justify-items-center gap-8 p-10">
    <Card titulo="Exploración Histórica" descripcion="Revive la historia en el Museo de la Revolución" fecha="14/04/2024" imagenSrc="/images/museo/estatuas.jpg" tema="museo"  />
    <Card titulo="Evento Cultural" descripcion="Descubre la Feria del Libro" fecha="20/04/2024" imagenSrc="/images/evento/evento.jpg" tema="evento" />
    <Card titulo="Monumento Historico Arquitectónico" descripcion="Maravíllate con el Castillo de Chapultepec" fecha="25/03/2024" imagenSrc="/images/monumento/Chapultepec_Castle_Mexico_City.webp" tema="monumento" />
</section>