---
import Card from "./Card.astro";


---
<section class="grid grid-cols-1 md:grid-cols-3 justify-items-center gap-8 p-10">
    <Card imagenSrc="/images/museo/estatuas.jpg" tema="museo"  />
    <Card imagenSrc="/images/evento/evento.jpg" tema="evento" />
    <Card imagenSrc="/images/monumento/Chapultepec_Castle_Mexico_City.webp" tema="monumento" />
</section>